*{
    margin: 0;
    padding: 0;
}
.mainbox{
    width: 80vw;
    height: 80vh;
    display: flex;
    border: 2px solid;
}
.questionCount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightbox{
    width: 70%;
    height: 100%;
    background-image: url("./images/quest.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
}
.start{
    display: inline-block;
    width: 200px;
    height: 150px;
    border-radius: 50px;
    font-size: 2rem;
}
.leftbox{
    width: 30%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: brown;

}
h1{
    height: 50%;
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
}
.image{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
img{
    width:80%;
}
